<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SAMO.Admin.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Films" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>  @Routes.Films
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Directors">
                <span class="oi oi-home" aria-hidden="true"></span> @Routes.Directors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Genres">
                <span class="oi oi-home" aria-hidden="true"></span> @Routes.Genres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/FilmGenres">
                <span class="oi oi-home" aria-hidden="true"></span> @Routes.FilmGenres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SimilarFilms">
                <span class="oi oi-home" aria-hidden="true"></span> @Routes.SimilarFilms
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
